<%- model_class = Instance -%>
<div class="headerWrapper clearfix">
<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

<%= link_to "<i class='icon-arrow-left icon-white'></i> BACK".html_safe,
cloud_providers_path, :class => 'customBtn back' %>
<%= link_to "Create Instance",new_cloud_provider_instance_path(@provider), :class => 'btn customBtn pull-right' %>

</div>
<ul class="cloudList">
    <li>
        <ul class="listHeading clearfix">
            <li class="listId"><%= model_class.human_attribute_name(:id) %></li>
            <li class="instanceId"><%= model_class.human_attribute_name(:instance_id) %></li>
            <li class="listState"><%= model_class.human_attribute_name(:state) %></li>
            <li class="listFlavour"><%= model_class.human_attribute_name(:flavor_id) %></li>
            <li class="listName"><%= model_class.human_attribute_name(:name) %></li>
            <li class="listPrivateIP"><%= model_class.human_attribute_name(:private_ip) %></li>
            <li class="listPublicIP"><%= model_class.human_attribute_name(:public_ip) %></li>
            <li class="listDetails"><%= model_class.human_attribute_name(:created_at) %></li>
            <li class="listAction"><%=t '.actions', :default => t("helpers.actions") %></li>
        </ul>
    </li>
    <li>
        <% @instances.each do |instance| %>
        <ul class="clearfix">
            <li class="listId"><%= link_to instance.id, instance_path(instance) %></li>
            <li class="instanceId"><%= instance.instance_id %></li>
            <li class="listState"><%= instance.state %></li>
            <li class="listFlavour"><%= instance.flavor_id %></li>
            <li class="listName"><%= instance.name %></li>
            <li class="listPrivateIP"><%= instance.private_ip %></li>
            <li class="listPublicIP"><%= instance.public_ip %></li>
            <li class="listDetails"><%=l instance.created_at %></li>
            <li class="listAction">
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_cloud_provider_instance_path(@provider,instance), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                instance_path(instance),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
            </li>
        </ul>
        <% end %>
    </li>

</ul>
