<%- model_class = Instance -%>
<div class=" viewInstance">
  <div class="headerWrapper clearfix">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    <%= link_to "<i class='icon-arrow-left icon-white'></i> BACK".html_safe,
                request.referrer, :class => 'customBtn back' %>
  </div>

  <dl class="dl-horizontal">
    <dt><strong>Instance Id:</strong></dt>
    <dd><%= @instance.instance_id %></dd>

    <dt><strong><%= model_class.human_attribute_name(:flavor_id) %>:</strong></dt>
    <% if  @flavor.present? %>
        <dd>Name: <%= @flavor.name %></dd>
        <dd>Ram: <%= @flavor.ram %> <%=  @flavor.ram.to_i < 512 ? "GB" : "MB" if @flavor.ram.present? %></dd>
        <dd>Disk: <%= @flavor.disk%> <%=  @flavor.disk.to_i < 512 ? "GB" : "MB" if @flavor.disk.present? %></dd>
     <% else%>
        <dd><%= @instance.flavor_id %></dd>
     <% end %>
    <dt><strong>Image: </strong></dt>
    <% if  @image.present? %>
    <dd><%= @image.name %></dd>
    <% else %>
        <dd><%= @instance.image_id %></dd>
    <% end %>
    <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
    <dd> <div id="instance_state"><%= @instance.state %> <%= image_tag("/ajax-loader.gif") %></div></dd>
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= best_in_place @instance, :name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:private_ip) %>:</strong></dt>
    <dd><div id="private_ip"><%= @instance.private_ip %></div></dd>
    <dt><strong><%= model_class.human_attribute_name(:public_ip) %>:</strong></dt>
    <dd><div id="public_ip"><%= @instance.public_ip %></div></dd>
  </dl>
  <% if @instance.state.to_s.downcase == "building" && @provider.type.to_s.downcase == "rackspace" %>
      <div class="progressWrapper">
        progress :
        <div class="progress progress-striped active">
          <div class="bar" style="width: <%= @instance.progress%>%;"></div>
        </div>
      </div>

  <% end %>
  <div class="form-actions">
    <ul>
      <% if @provider.type.to_s.downcase == "aws"%>
      <%if @instance.state == "Stopped"%>
      <li>
        <%= link_to "Start",
                    start_cloud_provider_instance_path(@provider,@instance),
                    :method => 'get',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-success' %>
      </li>
      <%end%>
      <%if @instance.state == "Running"%>
      <li>
        <%= link_to "Stop",stop_cloud_provider_instance_path(@provider,@instance),:method => 'get',:data => { :confirm => t('confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-danger' %>
      </li>
      <%end%>
      <% end %>
      <% if @provider.type.to_s.downcase == "rackspace"%>
      <li>
        <%= link_to "Resize",
                    instance_path(@instance),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn customBtn' %>
      </li>
      <% end %>
      <li>
        <%= link_to "Reboot",
                    reboot_cloud_provider_instance_path(@provider,@instance),
                    :method => 'get',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-inverse' %>
      </li>

      <li>
        <%= link_to "Terminated",
                    cloud_provider_instance_path(@provider,@instance),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </li>
    </ul>

  </div>
</div>
<script>
    //Call the yourAjaxCall() function every 1000 millisecond
    setInterval("yourAjaxCall()",1000);
    function yourAjaxCall(){
        if($("#instance_state").text().toLowerCase() == "building")
        {
            $.ajax({
                url:"/instances/<%= @instance.id%>/instance_status",
                type: "GET",
                async: false,
                dataType:"json",

                complete:function(resp,type)
                {

                    response = JSON.parse(resp.responseText);
                    $("#instance_state").text(response.state);
                    $("#private_ip").text(response.privateip);
                    $("#public_ip").text(response.publicip);
                    $(".bar").css("width",response.progress +"%");
                    if(response.state.toLowerCase() == "active")
                    {
                        $(".progressWrapper").hide();
                    }
                }

            });
        }

    }
</script>